body {
  background-color: #303030;
  color: #ffffff;
}

.site {
  background-color: #eaeaea;
}

#searchBar {
  background-color: #303030;
  border: 1px solid #202020;
  color: #ffffff;
}

a {
  color: #ffffff;
}

a:hover {
  color: #000000 !important;
}

.desc {
  color: #757575;
}

.header {
  background-color: #222222;
}

#footer {
  background-color: #222222;
}

.btn-toggle {
  color: #ffffff;
  background-color: #303030;
  border: solid #ffffff 0px;
}

.btn-toggle:hover {
  background: #787878;
  border: solid #000000 0px;
}

.btn-web {
  color: #ffffff;
  background-color: #222222;
  border: solid #ffffff 0px;
}

.btn-web:hover {
  background: #787878;
  color: #ffffff;
  border: solid #000000 0px;
}

.btn-web:hover > .desc {
  color: #ffffff !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #969696;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #474747;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
