body {
  background-color: #ffffff;
  color: #303030;
}

.site {
  background-color: #151515;
}

#searchBar {
  background-color: #ffffff;
  border: 1px solid #dfdfdf;
  color: #202020;
}

a {
  color: #222222;
}
a:hover {
  color: #909090 !important;
}
.desc {
  color: #757575;
}

.header {
  background-color: #dddddd;
}

#footer {
  background-color: #dddddd;
}

.btn-toggle {
  color: #ffffff;
  background-color: #303030;
  border: solid #ffffff 0px;
}

.btn-toggle:hover {
  background: #787878;
  border: solid #000000 0px;
}
